// Vue à l'aide Webpack est capable de comprendre que / correspond au dossier src (racine du projet). Attetion, ça ne fonctione pas dans les @import
@font-face {
    font-family: "Montserrat";
    src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("~@/assets/fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("~@/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("~@/assets/fonts/Montserrat-Italic.ttf");
}
